<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eduffer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/studentlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/studentlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eduffer">
        <activity
            android:name=".Startup.FlashScreen"
            android:exported="true"
            android:theme="@style/Theme.Eduffer.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <service
            android:name=".FirebaseService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Startup.CreateAccountPage"
            android:exported="true"
            android:theme="@style/Theme.Eduffer.NoActionBar">
        </activity>
        <activity
            android:name=".Startup.NewPwdPage"
            android:theme="@style/Theme.Eduffer.NoActionBar" />
        <activity
            android:name=".Startup.Main_Home_Activity"
            android:theme="@style/Theme.Eduffer.NoActionBar" />
        <activity
            android:name=".Startup.ForgotPwdPage"
            android:theme="@style/Theme.Eduffer.NoActionBar" />
        <activity
            android:name=".Startup.LoginPage"
            android:theme="@style/Theme.Eduffer.NoActionBar" />
        <activity
            android:name=".Startup.VerifyLoginPage"
            android:theme="@style/Theme.Eduffer.NoActionBar" />

        <service
            android:name=".NavigationMenu.Home.TabLayout.OpenLinkService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>